
table.academy td.required {
  background-color: #f1ebe7;
}

table.academy td.academy-course {
  background-color: #e9f0f5;
}

table.academy-sequence td {
    text-align: center;
}

table.academy-sequence td hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0;
}
