<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-lock fa-2" style="color: #7DC254;"></i> Prerequisites</h2>
<p>Students must:</p>

<ul>
<li>Apply prior to the deadline and participate in an interview process. Check with the school counselor at your current school to get information about deadlines.</li>
<li>Be accepted to the program and must provide their own transportation.</li>
<li>Remain enrolled in the JROTC program at all times. Students who do not remain enrolled must return to their district high school. Students retain full athletic eligibility.</li>
</ul>
