 <h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-asterisk" style="color: #7DC254;"></i>  Senior Pathway Options</h2>

<h3>Computer Networking Pathway</h3>
<p>Students will complete CISCO certified coursework and take the Cisco Certified Network Engineer Technician (CCENT) exam and have the option to take the Cisco Certified Network Administrator (CCNA) and the CompTIA Security + certification exams.</p>
<p>Students will complete Cyber Watch coursework.</p>

<h3>PC Systems Pathway</h3>
<p>Students will complete CISCO certified coursework and take the Comp TIA A+ certification exam. Students will also have the option to take the Cisco Certified Network Engineer Technician (CCENT) and CompTIA Security + certification exams.</p>
<p>Students will have the option of completing a worksite experience in a computer repair or networking field</p>