<h2>Academy Sequence</h2>
<table class="table academy-sequence">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
	<tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course / Second Course</th>
        <th scope="col">Third Course (Completer)</th>
    </tr>
	<tr>
		<th scope="row">Accounting</th>
		<td>
            Principles of Business Management - G/T CT-415-CC<br>
            and<br>
            Principles of Accounting and Finance - Honors CT-420-1<br>
            (May be taken concurrently)
        </td>
		<td>Advanced Accounting and Finance - Honors CT-430-1
        </td>
	</tr>
</table>
