<h2>Academy Sequence</h2>
<table class="table academy-sequence">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course (2 Credits)</th>
        <th scope="col">Second Course (3 Credits)</th>
    </tr>
    <tr>
        <td>Agricultural Science</td>
        <td>Agricultural Science I - G/T CT-750-2</td>
        <td>Agricultural Science II - G/T CT-752-3</td>
    </tr>
</table>
