<h2>For Students - Frequently Asked Questions</h2>

<div id="list">
<h3><i class="fa fa-angle-right fa-2"></i> What are the benefits of becoming a youth apprentice?</h3>

<p class="hide">A participating student will earn a wage, while receiving industry credentials and gaining experience in an area of employment interest.</p>

<h3><i class="fa fa-angle-right fa-2"></i> Is the program only for students who want to go directly in the workforce? What if I want to go to college?</h3>

<p class="hide">The Apprenticeship Maryland Program is targeted at STEM fields and allows students to “earn while they learn”. The program is intended for students who may want to remain in the Howard County area and continue working within the industry. Students can work and attend a local post-secondary institution.</p>

<h3><i class="fa fa-angle-right fa-2"></i> Where can I find more information?</h3>

<div class="hide hide--content">
<p>Please visit the <a href="http://marylandpublicschools.org/programs/Pages/CTE/ApprenticeshipMD.aspx" target="_blank">MSDE website</a> or <a href="http://www.dllr.maryland.gov/employment/appr/youthappr.shtml" target="_blank">the Maryland Department of Labor, Licensing, and Regulation website</a> and onet online.</p>
</div>

<h3><i class="fa fa-angle-right fa-2"></i> Do students need a work permit?</h3>

<p class="hide">Yes, this program follows all Department of Labor, Licensing and Regulation requirements. </p>

<h3><i class="fa fa-angle-right fa-2"></i> Are the hour requirements flexible?</h3>

<p class="hide">The program requires the student to complete 450 hours before graduation to earn the Apprenticeship certification. </p>

<h3><i class="fa fa-angle-right fa-2"></i> How do the hours fit into the school day?</h3>

<p class="hide">This will look different for each student depending upon where they work. Students may begin their day at work and take required graduation classes in the afternoon (ie. English and Math). The 450 hours is a minimum requirement as well as year-long related coursework.</p>

<h3><i class="fa fa-angle-right fa-2"></i> What jobs are available?</h3>

<p class="hide">Opportunities will be regularly updated throughout the year. Employers are approved by the Department of Labor, Licensing and Regulation.</p>

<h3><i class="fa fa-angle-right fa-2"></i> Will the application period be ongoing or must students register during course registration?</h3>

<p class="hide">Yes, applications will be accepted throughout year and will be considered for placement based on employer availability. However, it is recommended that students complete the application during the course registration process. If the student is not selected for a position, they will be able to interview with another employer. </p>

<h3><i class="fa fa-angle-right fa-2"></i> How are wages determined?</h3>

<p class="hide">Wages are based on entry level positions in the industry and meet or exceed minimum wage.</p>

</div>

<h2 id="ap-business">For Businesses - Frequently Asked Questions about the Youth Apprenticeship Program</h2>

<div id="list">
<h3><i class="fa fa-angle-right fa-2"></i> What is Youth Apprenticeship Maryland?</h3>
<p class="hide">Apprenticeship Maryland is a new State program that gives your business the unique opportunity to train, influence and shape high school students into top-performing employees who are invested in your business.</p>

<h3><i class="fa fa-angle-right fa-2"></i> Why should our business participate in Youth Apprenticeship Maryland?</h3>
<p class="hide">Participating in the Youth Apprenticeship Maryland Program is an investment in your business. You receive help in recruiting competent students who will develop into highly skilled workers. Retention of students reduces turnover, decreasing costs. The Program benefits students, employers and the state economy by addressing the lack of on-the-job experiences and providing gainful employment.</p>

<h3><i class="fa fa-angle-right fa-2"></i> How can my business become involved with Youth Apprenticeship Maryland?</h3>

<div class="hide hide--content">
<p>Businesses need to complete the <a href="http://www.doit.state.md.us/selectsurvey/EligibleEmployer#">Eligible Employer Application</a> which is reviewed and approved by the Maryland Apprenticeship Training Council (MATC). Once a business is approved, the Apprenticeship coordinator will identify interested students and connect them with the employer. The employer will work with Apprenticeship coordinator to schedule and conduct interviews with candidates. Employers make selection of candidates based on their hiring criteria. Once an offer of employment is made, the Youth Apprenticeship Agreement is signed with all parties.</p>

<p><strong>Businesses must agree to the following:</strong></p>
<ul>
  <li>Commit to employing and training a youth apprentice for at least 450 hours within a specified period.</li>
  <li>Provide a qualified mentor</li>
  <li>Sign a Youth Apprenticeship Agreement</li>
  <li>Pay the youth apprentice per the minimum wage law and exemptions</li>
  <li>Determine hours the youth apprentice will work and follow all applicable child labor laws</li>
  <li>Conduct periodic and regular performance evaluation of the youth apprentice</li>
  <li>Provide safety instruction and a safe work environment</li>
  <li>Anticipate future entry-level job openings</li>
</ul>
</div>

Businesses interested in participating can <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6cZP5R5q0pw_8CSPqV7wyW4VxZVp7LKbJyz1nNn8ZRDmwJw/viewform" target="_blank">complete an interest application</a>

</div>