<table class="table academy">
	<caption>Below is a suggested high school course schedule for students interested in the Animation and Interactive Media Academy</caption>
	<tbody><tr>
 	 <th scope="col">Grade Level</th>
 	 <th scope="col">Course 1</th>
 	 <th scope="col">Course 2</th>
 	 <th scope="col">Course 3</th>
 	 <th scope="col">Course 4</th>
 	 <th scope="col">Course 5</th>
 	 <th scope="col">Course 6</th>
 	 <th scope="col">Course 7</th>
  </tr>
	<tr>
		<th scope="row">Ninth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td class="required">Fitness &amp; Health required</td>
		<td class="required">Technology Education required</td>
		<td>Fine Arts available</td>
	</tr>
	<tr>
		<th scope="row">Tenth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Science required</td>
		<td class="required">Social Studies required</td>
		<td>Fine Arts</td>
		<td>Elective available</td>
		<td>Elective available</td>
	</tr>
	<tr>
		<th scope="row">Eleventh Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td class="required">Chemistry</td>
		<td class="required">Social Studies required</td>
		<td>Elective available</td>
    <td>Elective available</td>
    <td>Elective available</td>     
	</tr>
	<tr>
		<th scope="row">Twelfth Grade</th>
		<td class="required">English required</td>
		<td class="required">Mathematics required</td>
		<td>Science Elective available</td>
    <td>Apprenticeship I Industry Instruction (1 credit)</td>
    <td colspan="3" class="academy-course">Apprenticeship Work-Based Learning (3 credits)</td>
	</tr>
</tbody></table>
<h2>For Students - Frequently Asked Questions</h2>

<div id="list">
	<h3><i class="fa fa-angle-right fa-2"></i> How do students apply?</h3>
  <p class="hide">Students interested in participating in the program, complete the online student form which is located on the HCPSS Apprenticeship Maryland Program page.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> Are there deadlines for completing the student interest form?</h3>
  <p class="hide">No, student interest forms will be accepted throughout year and will be considered for placement based on employer availability. However, it is recommended that students complete the form during the course registration process. If the student is not selected for a position, they may interview with other eligible employers.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> Is the program only for students who want to go directly in the workforce?</h3>
  <p class="hide">The Apprenticeship Maryland Program is targeted at STEM fields and allows students to “earn while they learn”. The program is intended for students who may want to remain in the Howard County area and continue working within the industry.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> Do students need a work permit?</h3>
  <p class="hide">Yes, this program follows all Department of Labor, Licensing and Regulation requirements.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> Are the hour requirements flexible?</h3>
  <p class="hide">The program requires the student to complete 450 hours before graduation to earn the DLLR State Skill Certificate.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> How do the hours fit into the school day?</h3>
  <p class="hide">It is individualized for each student depending upon work schedules. Students may begin their day at work and take required classes in the afternoon or evening (i.e. English and Math). The 450 hours is a minimum requirement as well as year-long related coursework.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> What jobs are available?</h3>
  <p class="hide">Employers are approved by the Department of Labor, Licensing and Regulation and will be posted on the Apprenticeship Maryland Program website.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> Where can I find more information? </h3>
  <div class="hide hide--content">
  <p>MSDE website: <a href="http://marylandpublicschools.org/programs/Pages/CTE/ApprenticeshipMD.aspx" target="_blank">http://marylandpublicschools.org/programs/Pages/CTE/ApprenticeshipMD.aspx</a></p>

  <p>The DLLR website: <a href="http://www.dllr.maryland.gov/aboutdllr/youthappr.shtml" target="_blank">http://www.dllr.maryland.gov/aboutdllr/youthappr.shtml</a> </p>
  </div>

</div>

<h2 id="ap-business">For Businesses - Frequently Asked Questions about the Youth Apprenticeship Program</h2>

<div id="list">
  <h3><i class="fa fa-angle-right fa-2"></i> What is Apprenticeship Maryland Program</h3>
  <p class="hide">AMP is a new State program that gives your business the unique opportunity to train, influence and shape high school students into top-performing employees who are invested in your business.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> Why should our business participate in Apprenticeship Maryland Program</h3>
  <p class="hide">Participating in Apprenticeship Maryland Program is an investment in your business. You receive help in recruiting competent students who will develop into highly skilled workers. Retention of students reduces turnover, decreasing costs. The Program benefits students, employers and the state economy by addressing the lack of on-the-job experiences and providing gainful employment.</p>

  <h3><i class="fa fa-angle-right fa-2"></i> How can my business become involved with Youth Apprenticeship Maryland?</h3>
  <div class="hide hide--content">
  <p>Businesses need to complete the Eligible Employer Application which is reviewed and approved by the Maryland Apprenticeship Training Council (MATC). Once a business is approved, the Apprenticeship coordinator will identify interested students and connect them with the employer. The employer will work with Apprenticeship coordinator to schedule and conduct interviews with candidates. Employers make selection of candidates based on their hiring criteria. Once an offer of employment is made, the AMP Agreement is signed with all parties.</p>
  <p><strong>Businesses must agree to the following: </strong></p>
  <ul>
    <li>Commit to employing and training a youth apprentice for at least 450 hours within a specified period. </li>
    <li>Provide a qualified mentor </li>
    <li>Sign a Youth Apprenticeship Agreement </li>
    <li>Pay the youth apprentice per the minimum wage law and exemptions </li>
    <li>Determine hours the youth apprentice will work and follow all applicable child labor laws </li>
    <li>Conduct periodic and regular performance evaluation of the youth apprentice </li>
    <li>Provide safety instruction and a safe work environment </li>
    <li>Anticipate future entry-level job openings</li>
  </ul>
  </div>
  <p>Businesses interested in participating can <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6cZP5R5q0pw_8CSPqV7wyW4VxZVp7LKbJyz1nNn8ZRDmwJw/viewform" target="_blank">complete an interest application</a></p>  
</div>





