<h2>Academy Sequence</h2>
<table class="table academy-sequence">
	<caption>Below is a suggested high school course schedule for students interested in the Architectural Design Academy</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course (2 credits)</th>
        <th scope="col">Second Course (3 credits)</th>
    </tr>
    <tr>
        <th scope="row">Architectural Design</th>
        <td>Architectural Design CT-730-2</td>
        <td>Advanced Architectural Design - Honors CT-732-3</td>
    </tr>
</table>
