<h2>Academy Sequence</h2>
<table class="table academy">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course</th>
        <th scope="col">Second Course</th>
        <th scope="col">Third Course (Completer)</th>
    </tr>
    <tr>
        <th scope="row">Business Management</th>
        <td colspan="2">Principles of Business Management - G/T
            CT-415-CC
            and
            Principles of Accounting and Finance - Honors
            CT-420-1

            (May be taken concurrently)</td>
        <td>Advanced Business Management - Honors CT-440-1</td>
    </tr>
</table>
