<h2>Academy Sequence</h2>
<table class="table academy">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course<br>10th or 11th grade</th>
        <th scope="col">Second and Third Courses Taken Concurrently<br>12th grade only</th>
    </tr>
    <tr>
        <th scope="row">Career Research and Development</th>
        <td>Career Research and Development I CT-510-1</td>
        <td>Career Research and Development II CT-520-1 and Site-Based Work Experience CT-530-1</td>
    </tr>
</table>
