<h2>Academy Sequence</h2>
<table class="table academy">
    <caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tbody>
        <tr>
            <th scope="col">Academy</th>
            <th scope="col">First Course</th>
            <th scope="col">Second Course</th>
            <th scope="col">Third Course (Completer)</th>
        </tr>
        <tr>
            <th scope="row">Computer Science</th>
            <td>Computer Science A - AP CT-475-1</td>
            <td>Advanced Object Oriented Design - G/T CT-495-1</td>
            <td>Advanced Topics G/T CT-496-1</td>
        </tr>
    </tbody>
</table>
