<h1>Suggested Course Schedule</h1>

<p><img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt=""> – Fulfills HCPSS graduation requirement.</p>

<table class="table academy">
<caption>Below is a suggested high school course schedule for students interested in the Computer Science Academy</caption>
<tbody>
  <tr>
    <th style="width:12%;" scope="col">Grade Level</th>
    <th style="width:12%;" scope="col">Course 1</th>
    <th style="width:14%;" scope="col">Course 2</th>
    <th style="width:12%;" scope="col">Course 3</th>
    <th style="width:14%;" scope="col">Course 4</th>
    <th style="width:12%;" scope="col">Course 5</th>
    <th style="width:12%;" scope="col">Course 6</th>
    <th style="width:12%;" scope="col">Course 7</th>
  </tr>
  <tr>
    <th scope="row">Ninth Grade</th>
    <td class="required">English (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Mathematics (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Science (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Social Studies (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Health I & Fitness (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Computer Science, Engineering or Technology Credit (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Fine Arts or World Language (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
  </tr>
  <tr>
    <th scope="row">Tenth Grade</th>
    <td class="required">English (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Mathematics (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Science (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Social Studies (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Health II or Elective (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Fine Arts or World Language (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="academy-course">Computer Science A-AP</td>
  </tr>
  <tr>
    <th scope="row">Eleventh Grade</th>
    <td class="required">English (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Mathematics (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Science (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Social Studies (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Health II or Elective (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td>Elective</td>
    <td class="academy-course">Advanced Object Oriented Design G/T</td>
  </tr>
  <tr>
    <th scope="row">Twelfth Grade</th>
    <td class="required">English (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td class="required">Mathematics (&nbsp;<img decoding="async" src="https://s3.amazonaws.com/hcpss.web.site/images/star.svg" height="15" alt="Fulfills HCPSS graduation requirement.">&nbsp;)</td>
    <td>Elective</td>
    <td>Elective</td>
    <td>Elective</td>
    <td>Elective</td>
    <td class="academy-course">Advanced Topics in Computer Science G/T</td>
  </tr>
  </tbody>
</table>
<p><strong>Note: </strong> 2 credits of World Language satisfies a “Program Choice” for graduation; however, it is not required for graduation.</p>