<h2>Academy Sequence</h2>
<table class="table academy-sequence">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course (2 Credits)</th>
        <th scope="col">Second Course (3 Credits)</th>
    </tr>
    <tr>
        <th scope="row">Construction</th>
        <td>Construction Technology I CT-740-2</td>
        <td>Construction Technology II CT-742-3</td>
    </tr>
</table>
