<h2>Academy Sequence</h2>
<table class="table academy">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course</th>
        <th scope="col">Second Course</th>
        <th scope="col">Third Course</th>
        <th scope="col">Fourth Course</th>
    </tr>
    <tr>
        <th scope="row">Culinary Science Academy</th>
        <td>Food and Nutrition Technology CT-910-1</td>
        <td>Culinary Sciences CT-912-1</td>
        <td colspan="2">Adv. Culinary Science and Restaurant Operations CT-914-1 and Field Experience in Culinary Science CT-917-1 or CT-917-2 (May be taken concurrently)</td>
    </tr>
</table>
