<h2>Academy Sequence</h2>
<table class="table academy-sequence">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course</th>
        <th scope="col">Second Course</th>
        <th scope="col">Third Course (Pick One)</th>
        <th scope="col">Fourth Course (Completer) 12th Grade Only</th>
    </tr>
    <tr>
        <th scope="row">PLTW Engineering</th>
        <td>PLTW Introduction to Engineering Design - GT CT-805-1 (Fulfills the Computer Science, Engineering or Technology graduation requirement)</td>
        <td>PLTW Principles of Engineering (POE) - G/T CT-815-1</td>
        <td>
            PLTW Computer Integrated Manufacturing (CIM) - G/T CT-835-1<br>
            or <br>
            PLTW Digital Electronics (DE) - G/T CT-825-1
        </td>
        <td>PLTW Engineering Design and Development (EDD)</td>
    </tr>
</table>
