<h2>Academy Sequence</h2>
<table class="table academy">
	<caption>Completion of this academy fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course (2 Credits)</th>
        <th scope="col">Second Course (3 Credits)</th>
    </tr>
    <tr>
        <th scope="row">Graphic Design</th>
        <td>Graphic Design I - G/T CT-715-2</td>
        <td>Advanced Graphic Design - G/T CT-725-3</td>
    </tr>
</table>
