<h2>Academy Sequences</h2>
<table class="table academy-sequence">
	<caption>Completion of any of these academy sequences fulfills the “Program Choice” requirement for graduation. After completion of junior level academy courses students have the option of enrolling in one of four pathways.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course (2 Credits)</th>
        <th scope="col">Second Course (3 Credits)</th>
    </tr>
    <tr>
        <th scope="row" rowspan="5">Academy of Health Professions</th>
        <td rowspan="5">Foundations of Health Care - Honors CT-760-2</td>
        <td>
            Certified Clinical Medical Assistant - Honors CT-763-3
            <hr>
            Certified Nursing Assistant/Patient Care Technician: Theory and Clinical – Honors CT-765-3
            <hr>
            Emergency Medical Technician: Basic and Clinical CT-766-3
            <hr>
            Physical Rehabilitation - Honors CT-768-3
        </td>
    </tr>
</table>
