<h2>Academy Sequences</h2>
<table class="table academy">
	<caption>Completion of any one of these academies fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course</th>
        <th scope="col">Second Course</th>
        <th scope="col">Third Course (Completer)</th>
    </tr>
    <tr>
        <th scope="row">Marketing</th>
        <td colspan="2">Principles of Business Management - G/T CT-415-CC and Principles of Accounting and Finance - Honors CT-420-1 (May be taken concurrently)</td>
        <td>Principles of Marketing - Honors CT-450-1</td>
    </tr>
</table>
