<h2>Academy Sequences</h2>
<table class="table academy-sequence">
	<caption>Completion of either of these academies fulfills the “Program Choice” requirement for graduation.</caption>
    <tr>
        <th scope="col">Academy</th>
        <th scope="col">First Course / Second Course</th>
        <th scope="col">Third Course (Concentrator)</th>
        <th scope="col">Fourth Course (Completer)</th>
    </tr>

    <tr>
        <th scope="row">Teacher Academy of Maryland (K-12)</th>
        <td rowspan="2">
            Teaching as a Profession - G/T CT-925-CC<br>
            and <br>
            Human Growth and Development-G/T CT-922-CC<br>
            (Can be taken concurrently)
        </td>
        <td>Foundations of Curriculum and Instruction CT-924-1</td>
        <td rowspan="2">Field Experience in Education - G/T CT-927-1 CT-927-2</td>
    </tr>
    <tr>
        <th scope="row">Early Childhood Option</th>
        <td>Child Development Associate Portfolio and Internship 1 - G/T CT-926-1</td>
    </tr>
</table>
