<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-certificate fa-2" style="color: #7DC254;"></i> Benefits of the Program</h2>
<p><strong>Students will:</strong></p>
<ul>
  <li>Enter the workforce while still in high school</li>
  <li>Earn a salary</li>
  <li>Gain marketable industry skills</li>
  <li>Be assigned a highly skilled mentor</li>
  <li>Receive a State Skill Certificate from DLLR</li>
</ul>