<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-certificate fa-2" style="color: #7DC254;"></i>  Certifications</h2>
<p>All Academy of Health Professions students will become certified in first aid, cardiopulmonary resuscitation (CPR), Health Insurance Portability and Accountability Act (HIPAA) and blood and airborne pathogens by the end of their senior year.</p>

<p>Additional certifications are based on coursework. See senior level coursework options.</p>