<h2 style="width: 90%;"><i class="fa fa-pencil fa-2" style="color: #7DC254;"></i> How do I apply?</h2>

<p><strong>Interested students must submit a complete application between December 1 and March 1.</strong></p>

<p><a href="https://www.apprentiscope.com/jobs/partner/G9bkTpLiNHJ8VTyXZAcZ">Complete Apprenticeship Application&nbsp;→</a></p>

<p><a href="https://forms.gle/q7qPQ79PnXZjJbRu9">Independent Electrical Contractors (IEC) Chesapeake Application&nbsp;&rarr;</a></p>

<p><a href="https://docs.google.com/document/d/1H2ciWPXiikQlWihK0T4idh0AvV5pQc-hTG_G9G6mU90/edit?usp=sharing">Cover letter template&nbsp;&rarr;</a></p>

<p><a href="https://docs.google.com/document/d/1zSC2bGNAdmbiyEV8g_I52WLQ4DYtaAOpfC-Ik4F5GjQ/edit?usp=sharing">Resume template&nbsp;&rarr;</a></p>
