<h2 style="width: 90%;"><i class="fa fa-pencil fa-2" style="color: #7DC254;"></i> How do I apply?</h2>

<p><strong>Interested students must submit a complete application packet by March 31.</strong></p>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdYWfPjpdmxbhorLC-Eo4-tjxllpptXxEhz38-afZzZ8ZNTNQ/viewform">(All students) HCPSS Apprenticeship Maryland Application&nbsp;&rarr;</a></p>

<p><a href="https://forms.gle/q7qPQ79PnXZjJbRu9">(Electrical/ Low-Voltage students) HCPSS Application & IEC Application&nbsp;&rarr;</a></p>
