<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-file-text fa-2" style="color: #7DC254;"></i> General Requirements</h2>

<p><strong>Students must:</strong></p>

<ul>
  <li>Work a minimum of 450 hours (20 + hours a week) </li>
  <li>Complete one year of related classroom instruction </li>
  <li>Complete the program prior to graduation from high school</li>
  <li>Adhere to the employer’s policies/procedures</li>
  <li>Establish communication procedures with the Apprenticeship Maryland coordinator for monitoring progress</li>
  <li>Provide own transportation to work-site</li>  
</ul>