<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-asterisk" style="color: #7DC254;"></i> Pathway Options</h2>

<p><strong>After completion of junior level academy courses students have the option of enrolling in one of three pathways:</strong></p>

<div id="list">
  <h3>&nbsp;&nbsp;Certified Clinical Medical Assistant (CCMA)</h3>
  <h3><i class="fa fa-angle-right fa-2"></i> Certified Nursing Assistant (CNA)</h3>
    <div class="hide hide--content">
      <p>Prepares students to function as a nursing assistant in a variety of health care settings. This ​program has been approved by the Maryland Board of Nursing (MBON) and provides training in life span development, vital signs, basic patient care skills, disease processes, and communication skills. All coursework and clinical hours must be successfully completed to receive a Howard County Community College Certificate of Completion​ (Please note this is a non-credit certificate from HCC.) Upon successful completion of the theory and clinical coursework, students are eligible ​to register as a Certified Nursing Assistant (CNA) with the Maryland Board of Nursing. The knowledge and competencies learned in this pathway are valuable in pursuing any health care career.</p>
      <h4>Clinical Experiences</h4>
      <ul>
        <li>​Only students who have successfully completed classroom goals and objectives with at least a C average will be recommended for clinical experience.</li>
        <li>Students will need to complete 40 hours of clinical experience during the school year. Clinical hours will be completed on the weekends. Transportation is not provided by HCPSS and will be the responsibility of the student.</li>
        <li>Students 16 years or older may participate in clinical experiences.</li>
        <li>Up-to-date immunizations (including COVID and Flu) and 24/7 health insurance are required prior to participation in clinical experiences.</li>
        </ul>
      <h4><i class="fa fa-certificate fa-2"></i> Certifications</h4>
        <p>Upon completion of course work with a grade of 70% or better and clinical experiences, students can receive a Certified Nursing Assistant (CNA) certification and be eligible to register with the Maryland Board of Nursing. Students seeking GNA certification are eligible to take the Sate Geriatric Examination for an additional fee at an approved testing location to become a CNA with a specialty in geriatrics (GNA).</p>
 <p><strong>Note:</strong> Incoming CNA students and a parent/guardian will need to attend a mandatory information session in the spring of junior year.</p>
    </div>
    <h3><i class="fa fa-angle-right fa-2"></i> Clinical Research in Allied Health </h3>
    <div class="hide hide--content">
      <p>This pathway offers students a clinical worksite experience in an allied health field of their interest. Students will be engaged in a real-world experience while also establishing a core understanding of the fundamentals of evidenced based research and writing. Students may also choose to pursue further education in the fields of Physical Medicine and Rehabilitation or Pharmacy Technician training. Each of these specialties will include selective curriculum along with an internship experience.</p>
      <h4>In addition to program requirements, successful students:</h4>
        <ul>
          <li>Maintain a C average in all academy coursework.</li>
          <li>Complete at least 6-8 hours of work-site experience per week OR daily attendance at the Applications and Research Lab.</li>
          <li>Attend weekly senior seminars at the Applications and Research Lab.</li>
          <li>Choose a “real world” problem to research.</li>
          <li>Write and submit a research proposal, abstract, and reflection paper based on research.</li>
          <li>Maintain and submit a journal and portfolio of senior work</li>
          <li>Present a culminating multimedia presentation for the final grade.</li>
        </ul>
      <h4><i class="fa fa-graduation-cap fa-2"></i> College Credit</h4>
      <p>Students who successfully complete the Clinical Research in Allied Health program sequence, with a grade of B or higher in academy courses, may be eligible for credits at Howard Community College.</p>
    </div>
  <h3><i class="fa fa-angle-right fa-2"></i> Emergency Medical Technician </h3>
    <div class="hide hide--content">
      <p>Prepares students to have the emergency skills to assess a patient’s condition and manage respiratory, cardiac and trauma emergencies. The classes provide classroom and clinical experiences. The Emergency Medical Technician Academy is the result of a three-way partnership between Howard County Public Schools, Howard County Department of Fire and Rescue Services, and Howard Community College (HCC). This academy serves as a prerequisite for coursework in the Emergency Medical Services Program at Howard Community College.</p>
      <h4>In addition to program requirements, successful students:</h4>
      <ul>
        <li>Complete state-mandated attendance and performance standards during the program. To meet the 165 hours of required content level classwork, students will need to participate in additional scheduled class sessions.</li>
        <li>Are 16 years or older prior to participation in clinical experiences.</li>
        <li>Complete a minimum of 10 qualifying ambulance responses which can take a considerable number of hours outside of class time.</li>
        <li>Provide own transportation to all clinical experiences.</li>
      </ul>
      <h4><i class="fa fa-certificate fa-2"></i> Certifications</h4>
        <p>Students in the Emergency Medical Technician Academy earn Occupational Safety and Health Administration (OSHA) Infection Control certification.</p>
      <h4><i class="fa fa-graduation-cap fa-2"></i> College Credit</h4>
        <p>Upon graduation and successful completion of EMT-B certification requirements, students will begin college level coursework at HCC. The Emergency Medical Services Program at HCC is a two-year, Associates of Applied Science – Paramedic curriculum.</p>
    </div>
    <h3>&nbsp;&nbsp;Physical Rehabilitation</h3>
</div>