<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;">
    <i class="fa fa-asterisk" style="color: #7DC254;"></i> Pathway Options</h2>

<p><strong>After completion of junior level academy courses students have the
    option of enrolling in one of four pathways:</strong></p>

<div id="list">
    <h3><i class="fa fa-angle-right fa-2"></i>&nbsp;Certified Clinical Medical Assistant (CCMA)</h3>
    <div class="hide hide--content">
        <p>Students are prepared for medical assisting in a clinical setting
            with a focus on the specific knowledge, skills and abilities such as
            medical terminology, basic patient communication, assessment skills,
            procedures and measurements, medical office administrative procedures
            and patient records management.</p>
        <h4>Industry Recognized Credential</h4>
        <p>Students are prepared to take the National Health Careers Association
            (NHA) Certified Clinical Medical Assistant certification.</p>
    </div>
    <h3><i class="fa fa-angle-right fa-2"></i> Certified Nursing Assistant (CNA) / Patient Care Technician (PCT)
    </h3>
    <div class="hide hide--content">
        <p>Prepares students to function as a nursing assistant in a variety of
            health care settings. This program has been approved by the Maryland
            Board of Nursing (MBON) and provides training in life span
            development, vital signs, basic patient care skills, disease
            processes, and communication skills. After completing the CNA
            certification, students will  learn Patient Care Technician skills
            for higher level technical skills needed in a hospital setting.
        </p>
        <h4><i class="fa fa-certificate fa-2"></i> Industry Recognized Credential</h4>
        <p>Upon completion of course work with a grade of 70% or better and
            clinical experiences, students can earn a Certified Nursing
            Assistant (CNA) certification and be eligible to register with the
            Maryland Board of Nursing. </p>
        <p><strong>Note:</strong> Incoming CNA students and a parent/guardian
            will need to attend a mandatory information session in the spring of
            junior year.</p>
    </div>
    <h3><i class="fa fa-angle-right fa-2"></i> Emergency Medical Technician
    </h3>
    <div class="hide hide--content">
        <p>The Emergency Medical Technician pathway is a partnership with Howard
            County Department of Fire and Rescue Services. This EMT course aims
            to provide students with the knowledge, skills, and abilities
            necessary to perform emergency medical care in a pre-hospital
            environment at the basic life support level.</p>
        <h4><i class="fa fa-certificate fa-2"></i> Industry Recognized Credential</h4>
        <p>Students will prepare and sit for  the National Registry Emergency
            Medical Technician (NREMT) exams.</p>
        <h4><i class="fa fa-graduation-cap fa-2"></i> College Credit</h4>
        <p>Upon graduation and successful completion of the EMTcertification
            students are eligible to begin the Emergency Medical Services
            Program at HCC,  a two-year, Associates of Applied Science –
            Paramedic curriculum.</p>
    </div>
    <h3><i class="fa fa-angle-right fa-2"></i> Physical Rehabilitation</h3>
    <div class="hide hide--content">
        <p>The Physical Rehabilitation course is designed to expose students to
            varied careers related to the physical and occupational therapy
            field. This course integrates concepts of physical therapy,
            occupational therapy, kinesiology, and athletic training.</p>
        <h4><i class="fa fa-certificate fa-2"></i> Industry Recognized Credential</h4>
        <p>Students are prepared to sit for a nationally recognized personal
            trainer and/or sports medicine certification. </p>
    </div>
</div>